<!DOCTYPE html>
<html lang="es" class="custom-scrollbar webkit-custom-scrollbar">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <title>{% block title %}dockerized-app{% endblock %}</title>
        <link rel="icon" href="#" type="image/svg+xml">
    </head>
    <body>
        <div id="root">HOLA</div>
    </body>
</html>
